<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">LittleLink</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <% if (user) { %>
    <form class="form-inline my-2" action="/logout" method="POST">
      <div style="margin: 5px">Logged in as: <%=user.email %></div>
      <button type="submit" class="btn btn-outline-dark">Logout</button>
    </form>

    <% } else { %>
    <div
      class="form-inline my-2"
      style="width: 200px; display: flex; justify-content: space-evenly"
    >
      <a class="btn btn-primary" href="/login">Login</a>
      <a class="btn btn-primary" href="/register">Register</a>
    </div>
    <% } %>
  </nav>
</header>
